body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: swimmingPool;
    background-image: url('img/Alternative_Grafiken-Sharkie/Alternative Grafiken - Sharkie/IMG/watercolor-1325656.jpg');
}

canvas {
    background-color: black;
    display: block;

}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@font-face {
    font-family: swimmingPool;
    src: url('fonts/swimmingPool.ttf');
}

h1 {
    font-size: 68px;
}

.startScreen {
    background-image: url('img/gameCover.webp');
}